:root {
  --main-font-faimily: "Open Sans", sans-serif;
  --title-font-family: "Roboto", sans-serif;
  --main-color: #515151;
  --black-color: #0f0101;
  --featured-item-link-color: #323232;
  --hover-focus-change-color: #1abc9c;
  --white-color: #fff;
  --button-color: #4ec6ab;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* TYPOGRAPHY */
p {
  font-size: 14px;
  line-height: 1.2;
  color: var(--main-color);
  font-family: var(--main-font-faimily);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  background-color: var(--white-color);
}

/* CONTAINER */

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0;
}

/* TYPOGRAPHY */

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: var(--title-font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 0.6;
  text-transform: uppercase;
  color: var(--main-color);
}

.subtitle {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-family: var(--title-font-family);
  color: var(--main-color);
}


.contact__link,
.account__link {
  text-decoration: none;
  color: var(--white-color);
}

/* HEADER */

.account__section {
  background-color: var(--button-color);
  padding-top: 18px;
  padding-bottom: 20px;
}

.account {
  display: flex;
  justify-content: space-around;
}

.contact__info {
  justify-content: space-between;
}

.account__list {
  display: flex;
  flex-wrap: wrap;
}

.account__item {
  display: inline-block;
}

/* NAVIGATION */

.navigation {
  padding-top: 34px;
  padding-bottom: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--title-font-family);
  font-size: 30px;
  line-height: 1.06;
}

/* excerpt style for "m" */

.logo::first-letter {
  color: var(--hover-focus-change-color);
  font-weight: 700;
}

/* excerpt style for "art" */

.logo {
  color: var(--main-color);
  font-weight: 300;
}

.nav__list {
  display: flex;
}

.nav__link {
  padding: 2px 36px;
  font-family: var(--main-font-faimily);
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: var(--menu-section-link-color);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--hover-focus-change-color);
}

/* BANNER */

.banner__section {
  position: relative;
  display: flex;
  height: 602px;
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
}

.banner__title  {
  position: absolute;
  flex-grow: 0;
  margin: 0;
  min-width: 1100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: var(--title-font-family);
  font-size: 48px;
  color: var(--white-color);
  font-weight: 400;
  text-transform: uppercase;
}

.banner__title::first-line {
  font-weight: 300;
}

/* ABOUT */
.about__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about__item {
  justify-content: center;
  flex-grow: 0;
  flex-basis: calc(100% / 4 - 22.5px);
}

/* ICONS */

.icon {
  
  display: flex;
  width: 68px;
  height: 68px;
  margin: 0 auto;
  padding: 0;
}

.icon-settings {  
  background-image: url(/images/icons/settings.png);
  background-repeat: no-repeat;
}

.icon-safe {  
  background-image: url(/images/icons/safe.png);
  background-repeat: no-repeat;
}

.icon-world {  
  background-image: url(/images/icons/world.png);
  background-repeat: no-repeat;
}

.icon-compass {  
  background-image: url(/images/icons/compass.png);
  background-repeat: no-repeat;
}

/* COLLECTION */
/* GALLERY */

.featured__list,
.collection__list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 105px;
}

.featured__item,
.collection__item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-basis: calc(100% / 4 - 22.5px);
  margin-bottom: 30px;
}

.collection__item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.collection__item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.featured__item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.featured__item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.link:hover .cost,
.link:focus .cost {
  background-color: var(--button-color);
}

.link:hover,
.link:focus {
  background-color: var(--hover-focus-change-color);
}

.link {
  background-color: var(--featured-item-link-color);
  text-decoration: none;
}

.image {
  margin-bottom: -4px;
}

.desc {
  display: flex;
  margin: 0;
  font-size: 18px;
  line-height: 1.7;
  min-width: 255px;
  min-height: 40px;
  padding-left: 13px;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  font-family: var(--title-font-family);
  color: var(--white-color);
}

.cost {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.7;
  min-width: 54px;
  min-height: 40px;
  background-color: var(--main-color);
}

/* BLOG SECTION */

.blog {
  padding-bottom: 82px;
}


.blog__list {
  display: flex;
}

.blog__item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-basis: calc(100% / 3 - 20px);
}

.blog__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.blog__image {
  margin-bottom: 14px;
}

.excerpt {
  color: var(--main-color);
  font-family: var(--main-font-faimily);
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 159px;
  height: 51px;
  background-color: var(--button-color);
  text-decoration: none;
  color: var(--white-color);
  font-family: var(--main-font-faimily);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

.button:hover,
.button:focus {
  background-color: var(--hover-focus-change-color);
}

.newsletter__section {
  padding-top: 100px;
  padding-bottom: 132px;
  background-color: var(--hover-focus-change-color);
  background-image: url(/images/footer.png);
}
