:root {
  --main-font-faimily: "Open Sans", sans-serif;
  --title-font-family: "Roboto", sans-serif;
  --main-color: #515151;
  --black-color: #0f0101;
  --bacground-color: #e9f0fd;
  --featured-item-link-color: #323232;
  --hover-focus-change-color: #1abc9c;
  --white-color: #fff;
  --button-color: #4ec6ab;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* CONTAINER */

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0;
}

/* TYPOGRAPHY */
p {
  font-size: 14px;
  line-height: 1.2;
  color: var(--main-color);
  font-family: var(--main-font-faimily);
}

.link {
  text-decoration: none;
  color: var(--white-color);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  background-color: var(--white-color);
}

.title {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 100px 0 120px 0;
  font-family: var(--title-font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 0.6;
  text-transform: uppercase;
  color: var(--main-color);
}

.title::after {
  display: block;
  width: 167px;
  height: 20px;
  margin: 0 auto;
  margin-top: 26px;
  content: " ";
  background-image: url(/images/icons/blue_line.png);
  background-repeat: no-repeat;
  background-position: center;
}

.subtitle {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-family: var(--title-font-family);
  color: var(--main-color);
}

/* BUTTON */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 159px;
  height: 51px;
  background-color: var(--button-color);
  text-decoration: none;
  color: var(--white-color);
  font-family: var(--main-font-faimily);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

.button:hover,
.button:focus {
  background-color: var(--hover-focus-change-color);
}

/* NAVIGATION */

.user__section {
  background-color: var(--hover-focus-change-color);
  padding-top: 18px;
  padding-bottom: 16px;
}

.user__nav,
.contact__list,
.user__list,
.nav__list,
.site__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact__list {
  margin-right: auto;
}

.site__nav {
  justify-content: space-between;
  padding: 34px 0;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--title-font-family);
  font-size: 30px;
  font-weight: 300;
  line-height: 1.06;
  color: var(--main-color);
  margin-right: auto;
}

/* excerpt style for "m" */

.logo::first-letter {
  color: var(--hover-focus-change-color);
  font-weight: 700;
}

.nav__link {
  padding: 2px 36px;
  font-family: var(--main-font-faimily);
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: var(--menu-section-link-color);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--hover-focus-change-color);
}

/* BANNER */

.banner__section {
  position: relative;
  display: flex;
  height: 602px;
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
}

.banner {
  position: absolute;
  flex-grow: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner__title {
  text-align: center;
  font-family: var(--title-font-family);
  font-size: 48px;
  line-height: 1.2;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  color: var(--white-color);
  font-weight: 400;
  text-transform: uppercase;
}

.banner__title::first-line {
  font-weight: 300;
}

.color__title {
  font-weight: 400;
  color: var(--hover-focus-change-color);
}

.banner__button {
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

/* ABOUT */
.about {
  padding-top: 100px;
  padding-bottom: 80px;
}

.about__list {
  display: flex;
}

.about__item {
  position: relative;
  width: 256px;
  flex-grow: 0;
  flex-basis: calc(100% / 4 - 40px);
}

.about__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

/* ICON */

.icon-settings::before {
  display: flex;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  content: "";
  width: 66px;
  height: 66px;
  background-image: url(/images/icons/settings.png);
  background-repeat: no-repeat;
}

.icon-safe::before {
  display: flex;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  content: "";
  width: 66px;
  height: 66px;
  background-image: url(/images/icons/safe.png);
  background-repeat: no-repeat;
}

.icon-world::before {
  display: flex;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  content: "";
  width: 66px;
  height: 66px;
  background-image: url(/images/icons/world.png);
  background-repeat: no-repeat;
}

.icon-compass::before {
  display: flex;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  content: "";
  width: 66px;
  height: 66px;
  background-image: url(/images/icons/compass.png);
  background-repeat: no-repeat;
}

.about__title {
  text-align: center;
  margin-bottom: 28px;
}

.about__text {
  text-align: center;
  margin: 0;
}

/* COLLECTION */

.collection__section,
.blog__section {
  background-color: var(--bacground-color);
}

/* GALLERY */

.featured__list,
.collection__list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 105px;
}

.featured__item,
.collection__item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-basis: calc(100% / 4 - 22.5px);
  margin-bottom: 30px;
}

.collection__item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.collection__item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.featured__item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.featured__item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.feautered__link,
.collection__link {
  background-color: var(--featured-item-link-color);
}

.link:hover .cost,
.link:focus .cost {
  background-color: var(--button-color);
}

.link:hover,
.link:focus {
  background-color: var(--hover-focus-change-color);
}

.image {
  margin-bottom: -4px;
}

.desc {
  display: flex;
  margin: 0;
  font-size: 18px;
  line-height: 1.7;
  min-width: 255px;
  min-height: 40px;
  padding-left: 13px;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  font-family: var(--title-font-family);
  color: var(--white-color);
}

.cost {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.7;
  min-width: 54px;
  min-height: 40px;
  background-color: var(--main-color);
}

/* BLOG SECTION */

.blog {
  padding-bottom: 82px;
}

.blog__list {
  display: flex;
}

.blog__item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-basis: calc(100% / 3 - 20px);
}

.blog__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.blog__image {
  margin-bottom: 14px;
}

.blog__subtitle::after {
  display: flex;
  content: " ";
  width: 136px;
  height: 4px;
  margin-top: 14px;
  margin-bottom: 30px;
  background-image: url(/images/blog/line.png);
}

.excerpt {
  color: var(--main-color);
  font-family: var(--main-font-faimily);
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}

.newsletter__section {
  padding-top: 100px;
  padding-bottom: 132px;
  background-color: var(--hover-focus-change-color);
  background-image: url(/images/footer.png);
}

.newsletter__title::after {
  background-image: url(/images/icons/white_line.png);
}

.newsletter__subtitle {
  text-align: center;
  color: var(--white-color);
  font-size: 16px;
  margin-bottom: 44px;
}

.form {
  display: flex;
  justify-content: center;
}

.email {
  display: block;
  width: 450px;
  height: 60px;
  padding-left: 30px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  font-family: var(--main-font-faimily);
  font-size: 16px;
}

.submit__button {
  border: 2px solid #fff;
  border-radius: 0px 5px 5px 0px;
  width: 85px;
  height: 60px;
  background-color: #4ec6ab;
  background-image: url(/images/icons/arrows_button.png);
  background-repeat: no-repeat;
  background-position: center;
}
